<form action="/addUser" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Email: </p>
    <input type="email" name="email">
    <p>Senha: </p>
    <input type="password" name="senha">
    <p>Data de nascimento</p>
    <input type="date" name="dataNascimento">
    <br>
    <button type="submit">Enviar</button>
</form>